*,html {
	margin: 0;
	height:100%;
}

body{
	background-image: url(http://a13pixie12.keaweb.dk/img/background.jpg);
	
}

img {
	display:block;
}

#border-left {
	position:fixed;
	left:0;
	z-index:10;
}

#border-right {
	position:fixed;
	right:0;
	position:fixed;	
	z-index:10;
}

#title-scene {
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
}

#title-scene img{
	height:100%;
	width:auto;
	margin:auto;

}

.scene-wrapper {
	position:relative;
	height:100%;
	width:100%;
}

.add-hills {
	background-image: url("http://a13pixie12.keaweb.dk/img/hills.gif");
	background-size: auto 100%;
}

.scene {
		position:relative;
		height:100%;
		width:100%;
}

.scene img {
	height:100%;
	width:auto;
	margin:auto;

}

.button{
	position:absolute;
	bottom:0;
	right:80px;
	width:10em;
	height:5em;
	margin:auto;
	z-index:20;
	background-image: url("http://a13pixie12.keaweb.dk/img/arrow.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}



.fallingitems{
	position: absolute;
	margin-left: 35%;
	margin-top: 3%;
	z-index: 30;
}

#sock1{
	width: 10%;
	height: 15%;
	position: absolute;
	margin-left: 30%;
	margin-top: 3%;
	z-index: 30;
}
#sock2{
	width: 10%;
	height: 15%;
	position: absolute;
	margin-left: 45%;
	margin-top: 3%;
	z-index: 30;
}
#sock3 {
	width: 10%;
	height: 15%;
	position: absolute;
	margin-left: 37%;
	margin-top: 12%;
	z-index: 30;
}

#underwear1{
	width: 25%;
	height: 25%;
	position: absolute;
	margin-left: 32%;
	margin-top: 3%;
	z-index: 30;
}
#underwear3{
	width: 25%;
	height: 25%;
	position: absolute;
	margin-left: 48%;
	margin-top: 12%;
	z-index: 30;
}

#pig{
	width: 50%;
	height: 50%;
	margin-left: 20%;
	position: absolute;
	margin-top: -17%;
	z-index: 30;
	
}

#cantaloupe{
	width: 15%;
	height: 15%;
	position: absolute;
	margin-top: 3%;
	z-index: 30;
}

#scene6-wrapper{
	background-image: url(http://a13pixie12.keaweb.dk/img/hillsbackground.png);
}

#princessroom{
	position: absolute;
	top:10%;
	width:auto;
	height:70%;
	float: left;
	margin-left: -1000px;
}

#screamface{
	position: absolute;
	top:10%;
	width:auto;
	height:70%;
	float: left;
	margin-left: 100px;
}

.princetower{
	position: absolute;
	bottom: 5%;
	margin-left: 60%;
	z-index: 10;
}