*,html {
	margin: 0;
	height:100%;
}

body{
	background-image: url(http://a13pixie12.keaweb.dk/img/background.jpg);
	
}

img {
	display:block;
}

#border-left {
	position:fixed;
	left:0;
	z-index:10;
}

#border-right {
	position:fixed;
	right:0;
	position:fixed;	
	z-index:10;
}

#title-scene {
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
}

#title-scene img{
	height:100%;
	width:auto;
	margin:auto;

}

.scene-wrapper {
	position:relative;
	height:100%;
	width:100%;
}

.add-hills {
	background-image: url("http://a13pixie12.keaweb.dk/img/hills.gif");
	background-size: auto 100%;
}

.scene {
		position:relative;
		height:100%;
		width:100%;
}

.scene img {
	height:100%;
	width:auto;
	margin:auto;

}

.button{
	-webkit-animation: pulse 2s infinite;
	position:absolute;
	bottom:0;
	right:80px;
	width:10em;
	height:5em;
	margin:auto;
	z-index:20;
	background-image: url("http://a13pixie12.keaweb.dk/img/arrow.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

@keyframes "pulse" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }
 50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }

}

@-moz-keyframes pulse {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes "pulse" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-ms-keyframes "pulse" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-o-keyframes "pulse" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}


#falling-objects {
	position:relative;
	height:auto;
}

.fallingitems{
	position: absolute;
	margin-left: 35%;
	z-index: 30;
}

#sock1{
	width: auto;
	height: 9%;
	position: absolute;
	margin-left: 30%;
	z-index: 26;
}
#sock2{
	width: auto;
	height: 9%;
	position: absolute;
	margin-left: 45%;
	z-index: 27;
}
#sock3 {
	width: auto;
	height: 9%;
	position: absolute;
	margin-left: 37%;
	z-index: 28;
}

#underwear1{
	width: auto;
	height: 9%;
	position: absolute;
	margin-left: 32%;
	z-index: 24;
}

#underwear3{
	width: auto;
	height: 9%;
	position: absolute;
	margin-left: 48%;
	z-index: 25;
}

#pig{
	width: auto;
	height: 9%;
	margin-left: 30%;
	position: absolute;
	z-index: 30;
	
}

#cantaloupe{
	width: auto;
	height: 9%;
	position: absolute;
	z-index: 29;
}

#scene6-wrapper{
	background-image: url(http://a13pixie12.keaweb.dk/img/hillsbackground.png);
}

#princessroom{
	position: absolute;
	top:10%;
	width:auto;
	height:70%;
	float: left;
	margin-left: -1000px;
}

#screamface{
	position: absolute;
	top:10%;
	width:auto;
	height:70%;
	float: left;
	margin-left: 100px;
}

#princetower{
	position: absolute;
	bottom: 0;
	height:auto;
	margin-left: 50%;
	z-index: 10;
}

#scene1{
	overflow: hidden;
}

#prince-horse{
	position: relative;
	width: auto;
	height: 60%;
	z-index: 10;
	top:30%;
	float: right;
	margin-right: -1000px;
}

\*MAID FALLING*\

#scene4 {
	overflow:hidden;
	transition: background-color 5s;
	-webkit-transition: background-color 5s; /* Safari */
}

#maidfalling {
	position: absolute;
	top:0;
	left:20%;
	height:30%;
	width:auto;
	margin:auto;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
	} 
	
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }